*{margin:0;padding:0;}
.box{border:1px solid #ccc;overflow:hidden;padding:10px;width:300px;margin:10% auto;position:relative;}
.title{border:1px solid #ccc;width:300px;text-align:center;}
.title ul li{list-style:none;display:inline-block;margin-top:10px;margin-bottom:10px;}
.title ul li a{padding:5px 53px;text-decoration:none;background:blue;color:#fff;}
.title ul li:hover a{opacity:0.7;}
.content{width:100%;overflow:hidden;}
.content .active{display:block !important;}
.tab01{width:100%;background:#ccc;height:200px;color:#fff;display:none;}
.tab02{width:100%;background:#666;height:200px;color:#fff;display:none;}
.button{text-align:center;margin:10px auto;}
.button input{margin:0 30px;}
.button01box{border:1px solid #ccc;overflow:hidden;padding:10px;width:300px;margin:10% auto;position:absolute;top:-34px;right:-330px;background:#fff;}
.button02box{border:1px solid #ccc;overflow:hidden;padding:10px;width:300px;margin:10% auto;position:absolute;top:-34px;right:-330px;background:#fff;}